.idea/
vendor/
*.tar.gz
log.txt

organizations/superadmin.com/*
organizations/producer0.com/*
organizations/supplier0.com/*
organizations/manufacturer0.com/*
organizations/distributor0.com/*
organizations/retailer0.com/*

!peercfg/
!global-channel-config/
!channel0-config/
!docker-compose-ca.yaml
!docker-compose-orderer.yaml
!docker-compose-peer.yaml
