.idea/
log.txt

organizations/superadmin.com/*
!organizations/superadmin.com/global-channel-config/
!organizations/superadmin.com/channel0-config/
!organizations/superadmin.com/docker-compose-ca.yaml
!organizations/superadmin.com/docker-compose-orderer.yaml

organizations/producer0.com/*
!organizations/producer0.com/peercfg/
!organizations/producer0.com/docker-compose-ca.yaml
!organizations/producer0.com/docker-compose-orderer.yaml
!organizations/producer0.com/docker-compose-peer.yaml

organizations/supplier0.com/*
!organizations/supplier0.com/peercfg/
!organizations/supplier0.com/docker-compose-ca.yaml
!organizations/supplier0.com/docker-compose-orderer.yaml
!organizations/supplier0.com/docker-compose-peer.yaml

organizations/manufacturer0.com/*
!organizations/manufacturer0.com/peercfg/
!organizations/manufacturer0.com/docker-compose-ca.yaml
!organizations/manufacturer0.com/docker-compose-orderer.yaml
!organizations/manufacturer0.com/docker-compose-peer.yaml

organizations/distributor0.com/*
!organizations/distributor0.com/peercfg/
!organizations/distributor0.com/docker-compose-ca.yaml
!organizations/distributor0.com/docker-compose-orderer.yaml
!organizations/distributor0.com/docker-compose-peer.yaml

organizations/retailer0.com/*
!organizations/retailer0.com/peercfg/
!organizations/retailer0.com/docker-compose-ca.yaml
!organizations/retailer0.com/docker-compose-orderer.yaml
!organizations/retailer0.com/docker-compose-peer.yaml
