.idea/
vendor/
*.tar.gz
log.txt

organizations/*/*
!organizations/*/fabric-ca/
organizations/*/fabric-ca/*
!organizations/*/fabric-ca/fabric-ca-server-config.yaml

!peercfg/
!global-channel-config/
!channel0-config/
!docker-compose-ca.yaml
!docker-compose-orderer.yaml
!docker-compose-peer.yaml
