PORT=8083
CORS_ORIGIN=*
HANDLER_TIMEOUT=5
MAX_BODY_BYTES=4194304

ORG_ID=98a6d33b-1118-4eb9-b3f7-64c58304a714
ORG_NAME="Manufacturer 0"
ORG_TYPE=manufacturer
ORG_CODE=0362931

FABRIC_GLOBALCHANNEL_NAME=globalchannel
FABRIC_GLOBALCHAINCODE_NAME=cc
FABRIC_CHANNEL_NAME=channel0
FABRIC_CHAINCODE_NAME=cc
FABRIC_MSP_ID=Manufacturer0MSP
FABRIC_CERT_PATH=/organizations/manufacturer0.com/users/User@manufacturer0.com/msp/signcerts/cert.pem
FABRIC_KEY_PATH=/organizations/manufacturer0.com/users/User@manufacturer0.com/msp/keystore/
FABRIC_TLS_CERT_PATH=/organizations/manufacturer0.com/peers/tls/ca.crt
FABRIC_PEER_ENDPOINT=localhost:5056
FABRIC_GATEWAY_PEER=peer.manufacturer0.com
