APP_NAME=hehe
PORT=8082
SESSION_SECRET=secret
SESSION_SECURE=true
CORS_ORIGIN=https://*.ngrok.io,http://localhost:*
HANDLER_TIMEOUT=5
MAX_BODY_BYTES=4194304

ORG_ID=0c7da72e-5489-4976-b808-4d3cbf6e872e
ORG_ROLE=producer
ORG_DOMAIN=producer0.com
ORG_NAME="Producer 0"
ORG_EMAIL=producer0@mikroskil.ac.id
ORG_PASSWORD=secret

COUCHDB_URL=localhost:5982
COUCHDB_USERNAME=admin
COUCHDB_PASSWORD=adminpw

FABRIC_GLOBALCHANNEL_NAME=globalchannel
FABRIC_GLOBALCHAINCODE_NAME=cc
FABRIC_CHANNEL_NAME=channel0
FABRIC_CHAINCODE_NAME=cc
FABRIC_MSP_ID=Producer0MSP
FABRIC_CERT_PATH=/organizations/producer0.com/users/User@producer0.com/msp/signcerts/cert.pem
FABRIC_KEY_PATH=/organizations/producer0.com/users/User@producer0.com/msp/keystore/
FABRIC_TLS_CERT_PATH=/organizations/producer0.com/peers/tls/ca.crt
FABRIC_PEER_ENDPOINT=localhost:5054
FABRIC_GATEWAY_PEER=peer.producer0.com
